<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625310299583-bmgo9l3gmik6o3uasso4sn41piuiabt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625310299583-bmgo9l3gmik6o3uasso4sn41piuiabt4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625310299583-cdvu044rep5rcfid18fe9ubs31j4bi5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3FAwBidYxSr52oX4h4BuAbBjxJoGKGxE</string>
	<key>GCM_SENDER_ID</key>
	<string>625310299583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseIntegrate</string>
	<key>PROJECT_ID</key>
	<string>flutterdb-1a2a7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdb-1a2a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625310299583:ios:b95eb7063cd9ff2257dd0a</string>
</dict>
</plist>